.conteiner {
    padding: 10px;
    font-size: 20px;
}

p {
    padding-left: 7px;
}

.description {
    width: 18%;
    float: left;
    margin-top: 20px;
    padding-left: 9px;
}


label {
    display: inline-block;
}

.textpeopl {
    float: left;
    width: 79%;
    margin: 6px;
    padding-left: 7px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(186, 180, 180);
    box-sizing: border-box;
    resize: vertical;
}

select {
    width: 70%;
}

input[type=submit] {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid rgb(181, 175, 175);
    border-radius: 4px;
}

.description1 {
    width: 100%;
    float: left;
}

.texuser {
    width: 99%;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {

    .description,
    .textpeopl,
    input[type=text],
    select {
        width: 99%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    input[type=radio] {
        margin-left: 5px;

    }
}

@media screen and (min-width: 1000px) {
    p {
        display: inline-block;
    }
}